<!doctype html>
<html lang="en">

<head>
   <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <title>ZamaShops Admin Dashboard</title>
   <!-- Favicon -->
   <link rel="shortcut icon" href="/images/favicon.ico" />
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="/css/bootstrap.min.css">
   <!-- Typography CSS -->
   <link rel="stylesheet" href="/css/typography.css">
   <!-- Style CSS -->
   <link rel="stylesheet" href="/css/style.css">
   <!-- Responsive CSS -->
   <link rel="stylesheet" href="/css/responsive.css">
</head>

<body>
   <!-- loader Start -->

   <!-- loader END -->
   <!-- Wrapper Start -->
   <div class="wrapper">
      <!-- Sidebar  -->
      <%- include('../partials/admin_sidebar') %>
         <!-- TOP Nav Bar -->
         <%- include('../partials/admin_header') %>
            <!-- TOP Nav Bar END -->
            <!-- Page Content  -->
            <div id="content-page" class="content-page">
               <div class="container-fluid">
                  <div class="row">
                     <div class="col-sm-12">
                        <div class="iq-card">
                           <div class="iq-card-body">
                              <div class="d-flex justify-content-between align-items-center">
                                 <div class="todo-date d-flex mr-3">All Normal Pending Posts</div>
                                 <div class="todo-notification d-flex align-items-center">
                                    <div class=" position-relative d-flex align-items-center mr-3">
                                       <form>
                                          <div class="input-group ">
                                             <input type="date" class="form-control mr-2" id="exampleInputdate"
                                                value="2019-12-18">
                                             <input type="text" class="form-control w-100" name="search-user"
                                                placeholder="Product Name Or ID...!">
                                             <input type="submit" class="btn btn-default border ml-2" value="Search">
                                          </div>
                                       </form>
                                       <span class="bg-danger text-white"></span>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>

                     <% sponsorPost.forEach(function(post){ %>
                        <% if(post.sponsored=="Go Normal" ){ %>
                           <div class="col-lg-4">
                              <div class="card iq-mb-3">
                                 <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner">
                                       <div class="carousel-item active">
                                          <img src="/images/page-img/07.jpg" class="card-img-top" alt="#"
                                             class="d-block w-100" alt="...">
                                       </div>
                                       <div class="carousel-item">
                                          <img src="/images/page-img/07.jpg" class="card-img-top" alt="#"
                                             class="d-block w-100" alt="...">
                                       </div>
                                       <div class="carousel-item">
                                          <img src="/images/page-img/07.jpg" class="card-img-top" alt="#"
                                             class="d-block w-100" alt="...">
                                       </div>
                                    </div>
                                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                                       data-slide="prev">
                                       <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                       <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                                       data-slide="next">
                                       <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                       <span class="sr-only">Next</span>
                                    </a>
                                 </div>
                                 <!-- <img src="images/page-img/07.jpg" class="card-img-top" alt="#"> -->
                                 <div class="card-body">
                                    <h4 class="card-title">
                                       <%= post.title %>
                                    </h4>
                                    <p class="card-text">
                                       <%= post.description %>
                                    </p>

                                    <li style="list-style-type: none;">PKR : <b>
                                          <%= post.price %>
                                       </b></li>
                                    <li style="list-style-type: none;">Upload Date : <b>
                                          <%= post.uploadDate %>
                                       </b></li>
                                    <li style="list-style-type: none;">Expiry Date : <b>
                                          <%= post.expiryDate %>
                                       </b></li>
                                    <li style="list-style-type: none;">Location : <b>
                                          <%= post.location %>
                                       </b></li>
                                    <li style="list-style-type: none;">category : <b>
                                          <%= post.category %>
                                       </b>
                                       <button type="button" class="border-0  h6" data-toggle="modal"
                                          data-target="#exampleModal"><i class="fa fa-edit"
                                             style="color:rgb(9, 116, 255)"></i></button>
                                    </li>
                                    <div class="mt-4">
                                       <button type="button" class="card-link btn btn-info" data-toggle="modal"
                                          data-target="#exampleModals">User Details</button>
                                       <a href="/zama-shop/admin/pending-normal-post/<%= post.id %>"
                                          class="card-link btn btn-danger ">Delete</a>
                                       <hr>
                                       <% if(post.status=="DisApproved" ){ %>
                                          <a href="/zama-shop/admin/pending-approve-normal-post/<%= post.id %>"
                                             class=" btn btn-warning btn-success">Approve</a>
                                          <% }else{ %>
                                             <a href="/zama-shop/admin/pending-dis-approve-normal-post/<%= post.id %>"
                                                class=" btn btn-warning btn-success">DisApprove</a>
                                             <% } %>
                                       <a href="/zama-shop/admin/pending-sponsore-post/<%= post.id %>"
                                          class=" btn btn-secondary btn-secondary " style="margin-left: 35px;">Go
                                          To Sponsored</a>
                                    </div>
                                 </div>
                              </div>
                           </div>


                           <!-- Modal -->
                           <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                              aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                 <div class="modal-content">
                                    <div class="modal-header">
                                       <h5 class="modal-title" id="exampleModalLabel">Update category</h5>
                                       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                       </button>
                                    </div>
                                    <div class="modal-body">
                                       <form action="/zama-shop/admin/change-category-post" method="post">
                                          <div class="form-group">
                                             <label for="category">Change category</label>
                                             <select class="form-control" name="category">
                                                <!-- <option selected>Select category</option> -->
                                                <% category.forEach(function(cat){ %>
                                                   <option selected value="<%= cat.category %>">
                                                      <%= cat.category %>
                                                   </option>
                                                   <% }); %>
                                             </select>
                                          </div>
                                          <input type="hidden" name="postId" value="<%= post.id %>">
                                          <div class="modal-footer">
                                             <input type="submit" value="Change Category"
                                                class="btn btn-default border">
                                          </div>
                                       </form>
                                    </div>

                                 </div>
                              </div>
                           </div>


                           <!-- Modal -->
                           <div class="modal fade" id="exampleModals" tabindex="-1" role="dialog"
                              aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                 <div class="modal-content">
                                    <div class="modal-header">
                                       <h5 class="modal-title" id="exampleModalLabel">User Profile</h5>
                                       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                       </button>
                                    </div>
                                    <div class="modal-body">
                                       <center>
                                          <img src="/images/page-img/12.jpg" class="  rounded-circle"
                                             alt="Responsive image">
                                          <div class="user-detail mt-4">
                                             <li style="list-style-type: none;">Name : <b>Abdul Wahab</b></li>
                                             <li style="list-style-type: none;">Password : <b>*************</b></li>
                                             <li style="list-style-type: none;">Location : <b>Swat</b></li>
                                             <li style="list-style-type: none;">Following : <b>10</b></li>
                                             <li style="list-style-type: none;">Followers : <b>3</b></li>
                                          </div>
                                       </center>
                                    </div>
                                    <div class="modal-footer">
                                       <button type="button" class="btn btn-default border"
                                          data-dismiss="modal">OK</button>
                                    </div>
                                 </div>
                              </div>
                           </div>

                           <% } %>
                              <% }); %>

                  </div>
               </div>
            </div>
   </div>




   <!-- when click the user details this model will call end-->
   <!-- Wrapper END -->
   <!-- Footer -->
   <%- include('../partials/admin_footer') %>
      <!-- Footer END -->
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src=" /js/jquery.min.js"></script>
      <script src="/js/popper.min.js"></script>
      <script src="/js/bootstrap.min.js"></script>
      <!-- Appear JavaScript -->
      <script src="/js/jquery.appear.js"></script>
      <!-- Countdown JavaScript -->
      <script src="/js/countdown.min.js"></script>
      <!-- Counterup JavaScript -->
      <script src="/js/waypoints.min.js"></script>
      <script src="/js/jquery.counterup.min.js"></script>
      <!-- Wow JavaScript -->
      <script src="/js/wow.min.js"></script>
      <!-- Apexcharts JavaScript -->
      <script src="/js/apexcharts.js"></script>
      <!-- Slick JavaScript -->
      <script src="/js/slick.min.js"></script>
      <!-- Select2 JavaScript -->
      <script src="/js/select2.min.js"></script>
      <!-- Owl Carousel JavaScript -->
      <script src="/js/owl.carousel.min.js"></script>
      <!-- Magnific Popup JavaScript -->
      <script src="/js/jquery.magnific-popup.min.js"></script>
      <!-- Smooth Scrollbar JavaScript -->
      <script src="/js/smooth-scrollbar.js"></script>
      <!-- lottie JavaScript -->
      <script src="/js/lottie.js"></script>
      <!-- Chart Custom JavaScript -->
      <script src="/js/chart-custom.js"></script>
      <!-- Custom JavaScript -->
      <script src="/js/custom.js"></script>
</body>

</html>
